<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :bicycles %>
    <%= form.number_field :bicycles %>
  </div>

  <div class="field">
    <%= form.label :gpa %>
    <%= form.number_field :gpa, max: 4.0, min: 0.0, step: 0.1 %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, start_year: 120.years.ago.localtime.year, end_year: 18.years.ago.localtime.year, selected: 18.years.ago.localtime %>
  </div>

  <div class="field">
    <%= form.label :account_expiration %>
    <%= form.datetime_select :account_expiration, ampm: true, selected: 1.year.from_now.localtime %>
  </div>

  <div class="field">
    <%= form.label :earthling %>
    <%= form.check_box :earthling %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
